html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background: linear-gradient(to bottom right, #a1c4fd, #c2e9fb); /* soft blue gradient */
}

.background {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: white;

}

.hidden {
  display: none;
}

.search-icon {
  height: 20px;
  width: 30px;
}

.search-icon-button {
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.input-city {
  height: 35px;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  border-style: none;
  padding-left: 10px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.input-header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title {
  font-size: 32px;
  color: blanchedalmond;
  margin-top: 0;
}

.weather-grid {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 50px;
}

.city-name {
  font-size: 28px;
  margin-top: 50px;
  border-bottom: 2px solid;
}

.temp {
  font-size: 80px;
  color: whitesmoke;
}

.description {
  font-size: 32px;
  color: aliceblue;
}

.weather-icon {
  width: 150px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .weather-grid {
    grid-template-columns: 1fr;
    font-size: 32px;
    text-align: center;
  }
}

.weather-flex{
  display: grid;
  grid-template-columns: 1fr;
}

.feels-Like {
  margin-left: 0px;
  text-align: center;
  margin-top: 0px ;
}

.last-update {
  color: black;
}
